body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #343a40;
}

footer {
  background-color: #343a40;
}

.nav-link {
  color: #fff !important;
  margin-right: 10px;
}

.container {
  max-width: 800px;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-body .btn {
  margin-right: 10px;
  margin-bottom: 10px;
}

.btn-primary {
  background-color: #0066cc;
  border-color: #0066cc;
}

.btn-primary:hover {
  background-color: #004999;
  border-color: #004999;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:hover {
  background-color: #565e64;
  border-color: #51585e;
}

.card-body .btn-link {
  padding: 0;
  border: none;
  background: none;
}

.card-body .btn-link:hover {
  text-decoration: none;
}

